a {
    text-decoration: none;
    color: #524D3A;
}
a:hover{
    color: #524D3A;
}
.navigation-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 600px) {
    .navigation-items {
        display: none;
    }
 }
mat-sidenav {
    width: 250px;
}
.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 10px;
}
@media screen and (min-width: 600px) {
    .hamburger-menu-wrapper {
        display: none;
    }
}
.title{
    color:#524D3A;
    font-weight: bold;
}
mat-toolbar.color{
    background-color: #A39974;
}
ul{
    padding-left: 200px;
}