h1 {
    margin: 20px;
  }
  
div {
    background-color: #A39974
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
  
button {
    margin: 15px;
}
button.custom-button {
    background-color: #524D3A;
    color: #F5F5DC;
    margin: 10px;
} 
ng-container{
    background-color: #F5F5DC;
}